{{#each journeys}}
  <li class="m-journey__pagination {{this.bg}}" data-index="{{@index}}">
    <a href="/journeys/{{this.id}}">
      <span class="title">
        <h3>{{this.title}}</h3>
        <h2>{{this.subtitle}}</h2>
      </span>
    </a>
  </li>
{{/each}}

<li class="m-journey__pagination">
  <a href="/journeys">
    <span class="title is-discoverlink">
      <h3>Discover</h3>
      <h2>More Journeys</h2>
    </span>
  </a>
</li>
