<div class="m-modal-window">
  <div class="modal-wrapper">
    <div class="btn-close">×</div>
    <div class="modal-container">
      <h1>{{name}}</h1>

      <h4>Description</h4>
      <p>{{{description}}}</p>

      <h4>Source</h4>
      <div class="source">
        {{{source}}}

        {{#if link}}
          <a class="link" target="_blank"  href="{{link}}">{{link}}</a>
        {{/if}}

        {{#if links}}
          {{#each links}}
            <a class="link" target="_blank"  href="{{this}}">{{this}}</a>
          {{/each}}
        {{/if}}
      </div>

    </div>
  </div>
  <div class="modal-background"></div>
</div>
