<div class="m-modal-window">
  <div class="modal-wrapper">
    <div class="btn-close">×</div>
    <div class="modal-container">
      <h1>Download</h1>

      {{#if user_logged}}
        {{#if terms_accepted}}
          <p>Click to continue with download</p>
          <a href="{{url}}" class="btn btn-secondary theme-bg-color btn-download-infowindow">Download data</a>
        {{else}}
          <p>Before download any data, you need to read and acept our <a class="theme-color" href="http://www.conservation.org/Pages/privacy.aspx">terms and conditions</a></p>

          <input type="checkbox" id="terms-and-conditions">
          <label for="terms-and-conditions">I have read and accepted Conservation International terms and conditions</label>

          <a href="{{url}}" class="btn btn-secondary theme-bg-color btn-download-infowindow -disabled">Download data</a>
        {{/if}}
      {{else}}
        <p>Before downloading, please login.</p>
        <a href="{{url}}" class="btn btn-secondary theme-bg-color btn-download-infowindow">Log in</a>
      {{/if}}

    </div>
  </div>
  <div class="modal-background"></div>
</div>
