<div class="tabsContainer">
  <ul class="tabs vertical" data-tab data-options="scroll_to_content:false">
    <li class="tab-title tab-layer"><a href="#layers"><div class="ic-active-layers">0</div>Layers</a></li>
    <li class="tab-title tab-basemap"><a href="#basemaps"><div class="ic-active-layers">0</div>Basemap</a></li>
    <li class="tab-title tab-context"><a href="#context"><div class="ic-active-layers">0</div>Context</a></li>
  </ul>
  <div class="tab-blank"></div>
</div>
<div class="tabs-content">
  <div class="content" id="layers">

    {{#each layers}}
      {{#if noGroup}}

        <div class="accordion-navigation-nogroup">

          <div class="layer-item">
            <div class="layer-item-content">
              {{#if info}}
                <div class="btn-info" data-info="{{info}}">i</div>
              {{/if}}
              {{#if locateLayer}}
                <div class="locate-layer"></div>
              {{/if}}
              <div class="layer-item-name">{{name}}</div>
            </div>

            <div class="switch round small">
              <input id="{{slug}}" class="layer-switch" data-layer-slug="{{slug}}" type="checkbox" {{activeCheck}}>
              <label for="{{slug}}"></label>
            </div>
          </div>

        </div>

      {{else}}
        <ul class="accordion category" data-accordion>
          <li class="accordion-navigation {{active}}">
            <a href="#dashboard-layers-item-{{slug}}">
              {{name}}
              {{#if info}}
                <div class="btn-info" data-info="{{info}}">i</div>
              {{/if}}
            </a>
            <div id="dashboard-layers-item-{{slug}}" class="content {{active}}">
              {{#each layers}}

                <div class="layer-item{{#if sublayers}} sublayer{{/if}}">
                  <div class="layer-item-content">
                    <div class="layer-item-name">{{name}}</div>

                    {{#if info}}
                      <div class="btn-info" data-info="{{info}}">i</div>
                    {{/if}}
                  </div>

                  <div class="switcher-wrapper round small">
                    <input id="{{slug}}" class="{{#if sublayers}}sublayer-switch parent{{else}}layer-switch{{/if}}" data-layer-slug="{{slug}}" type="checkbox" {{activeCheck}}>
                    <label for="{{slug}}" style="background-color:{{activeColor}};border-color:{{activeColor}}"></label>
                  </div>
                </div>

                {{#if timeline}}
                  <div class="m-dashboard-timeline timeline-{{slug}}"></div>
                {{/if}}

                {{#if sublayers}}
                  <div class="sublayers" data-parent-slug="{{slug}}">
                  {{#each sublayers}}
                    <div class="layer-item" data-layer-slug="{{slug}}">
                      <div class="layer-item-content">
                        <div class="layer-item-name">{{name}}</div>

                        {{#if info}}
                          <div class="btn-info" data-info="{{info}}">i</div>
                        {{/if}}
                      </div>

                      {{#if locateLayer}}
                        <div class="locate-layer"></div>
                      {{/if}}
                      <div class="switch round small">
                        <input id="{{slug}}" class="sublayer-switch main" data-layer-slug="{{slug}}" data-parent-slug="{{../slug}}" data-layer-color="{{color}}" type="checkbox" {{activeCheck}}>
                        <label for="{{slug}}" style="background-color:{{activeColor}};border-color:{{activeColor}}"></label>
                      </div>
                    </div>

                    {{#if layers}}
                      <div class="sublayers">
                      {{#each layers}}
                        <div class="layer-item" data-layer-slug="{{slug}}">
                          <div class="layer-item-content">
                            <div class="layer-item-name">{{name}}</div>

                            {{#if info}}
                              <div class="btn-info" data-info="{{info}}">i</div>
                            {{/if}}
                          </div>

                          {{#if locateLayer}}
                            <div class="locate-layer"></div>
                          {{/if}}
                          <div class="switch round small">
                            <input id="{{slug}}" class="sublayer-switch" data-layer-slug="{{slug}}" data-parent-slug="{{../slug}}" data-layer-color="{{color}}" type="checkbox" {{activeCheck}}>
                            <label for="{{slug}}" style="background-color:{{activeColor}};border-color:{{activeColor}}"></label>
                          </div>
                        </div>
                      {{/each}}
                      </div>
                    {{/if}}

                  {{/each}}
                  </div>
                {{/if}}

              {{/each}}
            </div>
          </li>
        </ul>
      {{/if}}
    {{/each}}

  </div>
  <div class="content" id="basemaps">

    {{#each basemaps}}
      <ul class="accordion category" data-accordion>
        <li class="accordion-navigation {{active}}">
          <a href="#dashboard-layers-item-{{slug}}">
            {{name}}
            {{#if info}}
              <div class="btn-info" data-info="{{info}}">i</div>
            {{/if}}
          </a>
          <div id="dashboard-layers-item-{{slug}}" class="content {{active}}">
            {{#each layers}}

              <div class="layer-item{{#if sublayers}} sublayer{{/if}}">
                <div class="layer-item-content">
                  <div class="layer-item-name">{{name}}</div>

                  {{#if info}}
                    <div class="btn-info" data-info="{{info}}">i</div>
                  {{/if}}
                </div>

                {{#if ../groupLayer}}
                  <div class="switch round small">
                    <input id="{{slug}}" class="{{#if sublayers}}sublayer-switch parent{{else}}layer-switch{{/if}}" data-layer-slug="{{slug}}" data-layer-color="{{color}}" type="checkbox" {{activeCheck}}>
                    <label for="{{slug}}" style="background-color:{{activeColor}};border-color:{{activeColor}}"></label>
                  </div>
                {{else}}
                  <div class="switch small round">
                    <input id="{{slug}}" class="basemap-switch" data-layer-slug="{{slug}}" type="radio" name="basemapGroup" {{activeCheck}}>
                    <label for="{{slug}}"></label>
                  </div>
                {{/if}}
              </div>

              {{#if sublayers}}
                <div class="sublayers" data-parent-slug="{{slug}}">
                {{#each sublayers}}
                  <div class="layer-item">
                    <div class="layer-item-content">
                      <div class="layer-item-name">{{name}}</div>

                      {{#if info}}
                        <div class="btn-info" data-info="{{info}}">i</div>
                      {{/if}}
                    </div>

                    <div class="switch round small">
                      <input id="{{slug}}" class="sublayer-switch" data-layer-slug="{{slug}}" data-parent-slug="{{../slug}}" type="checkbox" {{activeCheck}}>
                      <label for="{{slug}}" style="background-color:{{activeColor}};border-color:{{activeColor}}"></label>
                    </div>
                  </div>
                {{/each}}
                </div>
              {{/if}}

            {{/each}}
          </div>
        </li>
      </ul>
    {{/each}}

  </div>
  <div class="content" id="context">

    {{#each context}}
      {{#if noGroup}}

        <div class="accordion-navigation-nogroup">

          <div class="layer-item">
            <div class="layer-item-content">
              {{#if info}}
                <div class="btn-info" data-info="{{info}}">i</div>
              {{/if}}
              <div class="layer-item-name">{{name}}</div>
            </div>

            <div class="switch round small">
              <input id="{{slug}}" class="layer-switch" data-layer-slug="{{slug}}" type="checkbox" {{activeCheck}}>
              <label for="{{slug}}"></label>
            </div>
          </div>

        </div>

      {{else}}
        <ul class="accordion category" data-accordion>
          <li class="accordion-navigation {{active}}">
            <a href="#dashboard-layers-item-{{slug}}">{{name}}</a>
            <div id="dashboard-layers-item-{{slug}}" class="content {{active}}">
              {{#each layers}}

                <div class="layer-item">
                  <div class="layer-item-content">
                    <div class="layer-item-name">{{name}}</div>

                    {{#if info}}
                      <div class="btn-info" data-info="{{info}}">i</div>
                    {{/if}}
                  </div>

                  <div class="switch round small">
                    <input id="{{slug}}" class="layer-switch" data-layer-slug="{{slug}}" type="checkbox" {{activeCheck}}>
                    <label for="{{slug}}"></label>
                  </div>
                </div>

              {{/each}}
            </div>
          </li>
        </ul>
      {{/if}}
    {{/each}}

  </div>
</div>
