
{{#each layers}}
  {{#if noGroup}}

    <div class="accordion-navigation-nogroup accordion category">

      <div class="layer-item">
        <div class="layer-item-content">
          <div class="switcher">
            <input id="{{slug}}" class="layer-switch" data-layer-slug="{{slug}}" type="checkbox" {{activeCheck}}>
            <label for="{{slug}}"></label>
          </div>
          {{#if locateLayer}}
            <div class="locate-layer"></div>
          {{/if}}
          <div class="layer-item-name">{{name}}</div>
        </div>
        {{#if info}}
          <div class="btn-info" data-info="{{info}}">i</div>
        {{/if}}

      </div>
    </div>

  {{else}}
    <ul class="accordion category" data-accordion>
      <li class="accordion-navigation {{active}}">
        <a href="#dashboard-layers-item-{{slug}}" class="accordion-category-title">
          {{name}}
          {{#if info}}
            <div class="btn-info" data-category="{{slug}}">i</div>
          {{/if}}
        </a>
        <div id="dashboard-layers-item-{{slug}}" class="content {{active}} layers-group">
          {{#each layers}}

            <div class="layer-item{{#if sublayers}} sublayer{{/if}}">

              <div class="layer-item-content">
                <div class="switcher">
                  <input id="{{slug}}" class="{{#if sublayers}}sublayer-switch parent{{else}}layer-switch{{/if}}" data-layer-slug="{{slug}}" type="checkbox" {{activeCheck}}>
                  <label for="{{slug}}" style="background-color:{{activeColor}};border-color:{{activeColor}}"></label>
                </div>
                <div class="layer-item-name">{{name}}</div>
              </div>
              {{#if info}}
                <div class="btn-info" data-slug="{{slug}}">i</div>
              {{/if}}
            </div>

            {{#if timeline}}
              <div class="m-dashboard-timeline timeline-{{slug}}"></div>
            {{/if}}

            {{#if sublayers}}
              <div class="sublayers" data-parent-slug="{{slug}}">
              {{#each sublayers}}
                <div class="layer-item" data-layer-slug="{{slug}}">

                  <div class="layer-item-content">
                    <div class="switcher">
                      <input id="{{slug}}" class="sublayer-switch main" data-layer-slug="{{slug}}" data-parent-slug="{{../slug}}" data-layer-color="{{color}}" type="checkbox" {{activeCheck}}>
                      <label for="{{slug}}" style="background-color:{{activeColor}};border-color:{{activeColor}}"></label>
                    </div>
                    <div class="layer-item-name">{{name}}</div>
                  </div>
                  {{#if info}}
                    <div class="btn-info" data-info="{{info}}">i</div>
                  {{/if}}
                  {{#if locateLayer}}
                    <div class="locate-layer"></div>
                  {{/if}}
                </div>

                {{#if layers}}
                  <div class="sublayers">
                  {{#each layers}}
                    <div class="layer-item" data-layer-slug="{{slug}}">
                      <div class="layer-item-content">
                        <div class="switcher">
                          <input id="{{slug}}" class="sublayer-switch" data-layer-slug="{{slug}}" data-parent-slug="{{../slug}}" data-layer-color="{{color}}" type="checkbox" {{activeCheck}}>
                          <label for="{{slug}}" style="background-color:{{activeColor}};border-color:{{activeColor}}"></label>
                        </div>
                        <div class="layer-item-name">{{name}}</div>
                      </div>

                      {{#if info}}
                        <div class="btn-info" data-info="{{aa}}">i</div>
                      {{/if}}

                      {{#if locateLayer}}
                        <div class="locate-layer"></div>
                      {{/if}}
                    </div>
                  {{/each}}
                  </div>
                {{/if}}

              {{/each}}
              </div>
            {{/if}}

          {{/each}}
        </div>
      </li>
    </ul>
  {{/if}}
{{/each}}

<button class="btn-access is-hidden">Access to Data</button>


{{#if topics}}



  {{#if topicId}}

    <a href="#map/topics">Topics List</a>


    <h2>{{data.title}}</h2>

    <img src="{{data.image}}">

    <p>{{data.description}}</p>



    {{#if layersByTopic}}
      {{#each layersByTopic}}
        <ul class="accordion category">
          <li class="accordion-navigation active">
            <a href="#dashboard-layers-item-{{@key}}" class="accordion-category-title"> {{@key}}
              <div class="btn-info" data-category="{{@key}}">i</div>
            </a>
            <div id="dashboard-layers-item-{{@key}}" class="content layers-group active">
              {{#each this}}
                <div class="layer-item">
                  <div class="layer-item-content">
                    <div class="switcher">
                      <input id="{{slug}}" data-layer-slug="{{slug}}" class="layer-switch" type="checkbox">
                      <label for="{{slug}}"></label>
                    </div>
                    <div class="layer-item-name">{{name}}</div>
                  </div>
                  <div class="btn-info" data-slug="{{slug}}">i</div>
                </div>
              {{/each}}
            </div>
          </li>
        </ul>
      {{/each}}
    {{/if}}

    <h3>More related layers</h3>

    <span>...</span>

  {{else}}

    {{#each data}}
      <p>{{@key}}</p>
      {{#each this}}
        <a href="/#map/topics/{{id}}">{{title}}</a>
      {{/each}}
    {{/each}}

  {{/if}}

{{/if}}

{{#if regions}}

  {{#each data}}
    {{#each this}}
      <p class="region-name">{{@key}}</p>
      {{#each this}}
          <div class="container-country">
            <span>country_image</span>
            <p class="country-name">{{country}}</p>
          </div>
      {{/each}}
    {{/each}}
  {{/each}}

{{/if}}
