<div class="m-journey--conclusion {{content.background}} {{content.title}} is-{{content.theme}}">

  <div class="content" style="background-color: rgb({{content.backgroundColor}})">
    <div class="extra-wrapper">
      <div class="wrapper">
        <h2>{{ content.title }}</h2>
        <h3>{{ content.subtitle }}</h3>

        {{{ content.content }}}
      </div>
      <button class="btn-colapse"></button>
      <button class="btn-descolapse is-hidden" style="background-color:{{content.backgroundColor}}"></button>
      <div class="shadow" style="box-shadow: inset 0px -37px 26px -14px rgb({{content.backgroundColor}})"></div>
    </div>
  </div>

  <p class="credits"><a target="_blank" href="{{content.creditsUrl}}">{{content.credits}}</a></p>
  <div class="m-controls"></div>

</div>
