{{#each journeys}}
  <li class="m-journey__pagination {{this.bg}}" data-index="{{@index}}">
    <a href="/journeys/{{this.id}}">
      <span class="title">
        <h2>{{this.title}}</h2>
        <h3>{{this.subtitle}}</h3>
      </span>
    </a>
  </li>
{{/each}}
