<div class='m-journey--embed--{{content.theme}}'>

  <div class="embebed-map">
    <iframe src="/embed{{content.mapUrl}}&journeyMap=true&countryIso={{content.countryIso}}" type=""></iframe>
    {{#if content.btnUrl}}<a href="{{content.btnUrl}}" target="_blank" class="btn-check-it">View on map</a>{{/if}}
  </div>

  <article class='side-bar'>
    <div class="wrapper">
      <article>
        {{{ content.aside }}}
        <section class="m-legend" id="legendView"></section>
        <footer><p>INSIGHTS PROVIDED BY CONSERVATION INTERNATIONAL</p></footer>
      </article>
    </div>
  </article>

  <div class="m-controls"></div>

</div>

