<div class="name">{{name}}</div>

{{#if noData}}
<div class="widget-no-data">
  <h3>NO DATA AVAILABLE</h3>
</div>
{{else}}
<div id="{{slug}}-graph" class="widget-scatter-chart graph" style="height:215px"></div>

<div id="{{slug}}-legend" class="widget-scatter-chart graph-scatter legend"></div>
{{/if}}

{{#if meta_short}}
<div class="meta-short">
  {{meta_short}} 
  <button class="btn-analysis-info" data-info="{{metadata}}" data-name="{{name}}">
    <svg class="icon icon-info">
      <use xlink:href="#icon-info"></use>
    </svg>
  </button>
</div>
{{/if}}