<div class="m-widget number">
  <div class="name">{{name}}</div>

  {{#if noData}}
    <div class="widget-no-data">
      <h3>NO DATA AVAILABLE</h3>
    </div>
  {{else}}
    <div id="{{slug}}" class="widget-number">
      {{#each data}}
         {{#each this}}
          <div class="row">
            <div class="value">{{this}}</div>
            <div class="label">{{@key}}</div>
          </div>
         {{/each}}
      {{/each}}
    </div>
  {{/if}}
</div>