<div class="m-widget">
  <div class="name">{{name}}</div>

  {{#if noData}}
    <div class="widget-no-data">
      <h3>NO DATA AVAILABLE</h3>
    </div>
  {{else}}
    <div id="{{slug}}" class="widget-text-list">
      {{#each data}}
        {{label}} - {{value}}
      {{/each}}
    </div>
  {{/if}}
</div>