<div class='m-journey-embed--{{content.theme}}'>

  <div class="embebed-map">
    <iframe src="/embed{{content.mapUrl}}&journeyMap=true&countryIso={{content.countryIso}}" type=""></iframe>
    {{!-- <a href="{{content.mapUrl}}" target="_blank" class="btn-check-it">Check it on map</a> --}}
  </div>

  <article class='side-bar'>
    <div class="wrapper">
      {{{ content.aside }}}
      <div class="m-legend" id="legendView"></div>
    </div>
  </article>

  <div class="m-controls"></div>

</div>

