<div class="m-journey--text {{content.background}} ">

  <div class="wrapper">
    <div class="content--{{content.theme}} is-{{content.align}}">
      {{{ content.content }}}
    </div>
  </div>
  <p class="credits"><a target="_blank" href="{{content.creditsUrl}}">{{content.credits}}</a></p>
  <div class="m-controls"></div>

</div>
