<div class="m-journey--conclusion {{content.background}} {{content.title}} is-{{content.theme}}">

  <div class="content">
    <h2>{{ content.title }}</h2>
    <h3>{{ content.subtitle }}</h3>

    {{{ content.content }}}

  </div>
  <p class="credits"><a target="_blank" href="{{content.creditsUrl}}">{{content.credits}}</a></p>
  <div class="m-controls"></div>

</div>
