<ul>
  {{#each groups}}
    <li>
      <div class="m-layers-list-header">
        <div class="header-title">{{name}}</div>
      </div>
      <ul{{#if active}} class="is-active"{{/if}}>
        {{#each categories}}
          <li>
            <div class="m-layers-list-header">
              <div class="header-title">{{name}}</div>
              <div class="header-switch m-form-input--switch">
                <input type="checkbox" id="category_{{id}}" {{#if active}}checked{{/if}}>
                <label for="category_{{id}}"></label>
              </div>
            </div>
            <ul class="m-layers-list-panel {{#if active}}is-active{{/if}}">
              {{#each layers}}
                <li>
                  <div class="panel-item-switch m-form-input--switch">
                    <input type="checkbox" id="layer_{{id}}" {{#if active}}checked{{/if}}>
                    <label for="layer_{{id}}"></label>
                  </div>
                  <div class="panel-item-title">{{name}}</div>
                  <div class="panel-item-slider"></div>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
