<ul>
  {{#each categories}}
    <li class="m-layers-list__group is-open">
      <div class="m-layers-list__header">
        <div class="header-title">{{name}}</div>
        <div class="header-switch m-form-input--switch">
          <input type="checkbox" id="category_{{id}}" {{#if active}}checked{{/if}}>
          <label for="category_{{id}}"></label>
        </div>
      </div>
      <ul class="m-layers-list__panel">
        {{#each layers}}
          <li>
            <div class="panel-item">
              <div class="title">
                <div class="panel-item-switch m-form-input--switch">
                  <input type="checkbox" id="layer_{{id}}" {{#if active}}checked{{/if}}>
                  <label for="layer_{{id}}"></label>
                </div>
                <span>{{name}}</span>
                <div class="settings-switcher"></div>
              </div>
              <div class="panel-item-slider"></div>
            </div>
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
