<ul>
  {{#each groups}}
    {{#if categories}}
      <li data-slug="{{slug}}">
        <div class="m-layers-list-header">
          <div class="header-title">{{name}}</div>
        </div>
        <ul>
          {{#each categories}}
            {{#if layers}}
              <li>
                <div class="m-layers-list-header {{#if active}}is-active{{/if}}">
                  <div class="header-title">{{name}}</div>
                  <div id="categoryHeader_{{id}}" class="header-switch m-form-input--switch">
                    <input type="checkbox" class="header-input-switch" id="category_{{id}}" {{#if active}}checked{{/if}}>
                    <label for="category_{{id}}"></label>
                  </div>
                </div>
                <ul class="m-layers-list-panel {{#if active}}is-active{{/if}}">
                  {{#each layers}}
                    <li class="{{#ifcond opacity_text}}{{/ifcond}}">
                      <div class="panel-item-switch m-form-input--switch">
                        <input type="checkbox" class="panel-input-switch" id="layer_{{id}}" {{#if active}}checked{{/if}}>
                        <label for="layer_{{id}}"></label>
                      </div>
                      <div class="panel-item-title">{{name}}</div>
                      <button class="panel-trasparecy-switcher">
                        <svg class="icon-settings" opacityLevel="{{opacity_text}}">
                          <use xlink:href="#icon-settings"></use>
                        </svg>
                      </button>
                      <div class="panel-item-slider">
                        <div class="m-form-input--slider">
                          <div class="slider-wrapper">
                            <input data-id="{{id}}" type=range min=0 max=100 value={{opacity_text}} id=fader step=1 class="opacity-range">
                            <span class="opacity" style="width:{{opacity_text}}%;"></span>
                          </div>
                          <input type="number" class="opacity-teller" layer="{{id}}" value={{opacity_text}}><span class="unit">%</span>
                        </div>
                      </div>
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </li>
    {{/if}}
  {{/each}}
</ul>
